<div class="d-flex align-items-center">
  <h1>掲示板編集</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', boards_path, class: 'btn btn-outline-dark'  %>
  </div>
</div>
<%# パーシャルを呼び出す場合はレンダーメソッドを使い、その後ろにハッシュ形式で呼び出すパーシャル名を指定。 %>
<%# locals以下の記載について。これがあることで、edit.html.erbをみた時に@boardというインスタンス変数が使われていることが確認でき、パーシャル側にはboardというローカル変数が渡ることになる %>
<%= render partial: 'form', locals: { board: @board } %>
